<%- include('../partials/header') %>

    <form action="/users/edit/<%= user.id %>" method="POST" class="w-50 m-auto p-5 mt-5 shadow">
        <h2>Edit User</h2>
        <div class="mb-3">
            <input type="name" placeholder="name****" value="<%= user.name %>" name="name" class="form-control"
                required>
        </div>

        <div class="mb-3">
            <input type="email" placeholder="Email****" value="<%= user.email %>" name="email" class="form-control"
                required>
        </div>

        <button type="submit" class="btn btn-primary">Update user</button>
        <a href="/register" class="">Don't have an account? Register here</a>

    </form>

    <%- include('../partials/footer') %>