<%- include('../partials/header') %>

    <form action="/posts/create" method="POST" enctype="multipart/form-data" class="w-50 m-auto p-5 shadow mt-5">

        <h2>Create New Post</h2>

        <div class="mb-3 mt-4">
            <label for="user_id">Author:</label>

            <select name="user_id" required class="form-control">
                <% users.forEach(user=> { %>
                    <option value="<%= user.id %>">
                        <%= user.name %>
                    </option>

                    <% }) %>

            </select>

        </div>


        <div class="mb-3">
            <label for="category_id">Category:</label>

            <select name="category_id" required class="form-control">
                <% categories.forEach(category=> { %>
                    <option value="<%= category.id %>">
                        <%= category.name %>
                    </option>

                    <% }) %>

            </select>

        </div>



        <div class="mb-3">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" required>
        </div>


        <div class="mb-3">
            <label for="content">Content:</label>
            <textarea name="content" class="form-control" id="" required style="height:65px;"></textarea>
        </div>


        <div class="mb-3">
            <label for="photo">Photo:</label>
            <input type="file" class="form-control" name="photo" accept="image/*">
        </div>

        <button type="submit" class="btn btn-success">Create</button>


    </form>



    <%- include('../partials/footer') %>