<%- include('../partials/header') %>

    <div class="container-fluid">


        <h1 class="mb-2"><u>Post List</u></h1>
        <a href="/posts/create" class="btn btn-success mb-4 ">Create New Post</a>

        <ul>
            <% posts.forEach(post=> { %>

                <div class="card mb-3">
                    <div class="card-body">

                        <% if (post.photo) { %>
                            <div>
                                <img src="/uploads/<%= post.photo %>" alt="Post Photo"
                                    style="width:300px;height: auto;">
                            </div>
                            <% } %>

                                <h2>
                                    <%= post.title %>
                                </h2>

                                <p>By <%= post.author %> on <%= post.created_at %>
                                </p>

                                <p>
                                    Category:<% categories.forEach(category=> { %>
                                        <% if (category.id==post.category_id) { %>
                                            <%= category.name %>
                                                <% } %>
                                                    <% }) %>
                                </p>


                                <p>
                                    <%= post.content %>
                                </p>

                                <a href="/posts/edit/<%= post.id %>" class="btn btn-warning">Edit</a>
                                <form action="/posts/delete/<%= post.id %>" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                    </div>

                </div>

                <% }) %>
        </ul>



    </div>
    <%- include('../partials/footer') %>